name: CI
on:
  push:
  pull_request:

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: javaJDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: build
        run: gradle shadowjar

      - name: upload
        uses: actions/upload-artifact@v2
        with:
          name: Waterdog-Form-API
          path: build/libs/*
